{% extends "base.html.twig" %}

{% block title %}Détails du produit {{ product.name }}{% endblock %}
{% block body %}
    <h1>Détails du produit {{ product.name }}</h1>
    
    <ul>
        <li>{{ product.image }}</li>
        <li>{{ product.description }}</li>
        <li>{{ product.state }}</li>
        {# <li>{{ product.user }}</li> #}
    </ul>
    <ul>
        {% for tag in product.tags %}
            <li>#{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('product_list') }}">Retour à la liste des produits</a>
    
{% endblock %}